 
  <%- include('includes/main'); %>
    
    <div class="main-block">
      <h1>Registration</h1>
      <% if(error) { %>

        <div class="alert alert-danger" style="text-align: center;" role="alert">
          <%= error %>
        </div>
      <% } %>
      <form action="/pr", method="POST">
        
     <!--   <div class="account-type">
          <input type="radio" value="none" id="radioOne" name="account" checked/>
          <label for="radioOne" class="radio">Personal</label>
          <input type="radio" value="none" id="radioTwo" name="account" />
          <label for="radioTwo" class="radio">Company</label>
        </div>
    -->
        
        
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="email" id="name" placeholder="Email" required value=<%=data.email %>> </input>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="name" id="name" placeholder="Name" required value=<%=data.name %>> </input>
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" name="password" id="name" placeholder="Password" required value=<%=data.password %> > </input>
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="password" name="confirmPassword" id="name" class="confirmPassword" placeholder="Confirm Password" required value=<%=data.confirmPassword %>> </input>
       <!-- <div class="btn-block">-->
        <p style="color: brown; font-size: 11px; margin-bottom: 25px;">Password length should be atleast 7 characters and must contain atleast 1 number</p>
        <input type="hidden" name="_csrf" value="<%= csrf %>">

       
      <!--  <div class="gender">
          <input type="radio" value="none" id="male" name="gender" checked/>
          <label for="male" class="radio">Male</label>
          <input type="radio" value="none" id="female" name="gender" />
          <label for="female" class="radio">Female</label>
        </div>

    -->
       
        <div class="btn-block">
          <p>This is just a demo website and not a real shopping app.</a></p>
          <button id= "form-btn" type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>
    
  </div>
  
  
  </body>
</html>