<%- include('includes/main.ejs'); %>

<div class="main-block">
    <h1>Reset Password</h1>
    <% if(error) { %>

      <div class="alert alert-danger" style="text-align: center;" role="alert">
        <%= error %>
      </div>
    <% } %>
    <form action="/resetPassword", method="POST">
      
   <!--   <div class="account-type">
        <input type="radio" value="none" id="radioOne" name="account" checked/>
        <label for="radioOne" class="radio">Personal</label>
        <input type="radio" value="none" id="radioTwo" name="account" />
        <label for="radioTwo" class="radio">Company</label>
      </div>
  -->
      
      
      <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
      <input type="text" name="email" id="name" placeholder="Email" required value="<%= email %>"/>
    

      <input type="hidden" value="<%=csrf %>" name="_csrf">     
    <!--  <div class="gender">
        <input type="radio" value="none" id="male" name="gender" checked/>
        <label for="male" class="radio">Male</label>
        <input type="radio" value="none" id="female" name="gender" />
        <label for="female" class="radio">Female</label>
      </div>

  -->
     
      <div class="btn-block">
        
        <button type="submit" href="/">Submit</button>
      </div>
      <% if(result) { %>

        <div class="alert alert-success" style="text-align: center;" role="alert">
          <%= result %>
        </div>
      <% } %>

    </form>
  </div>
</body>
</html>